.root {
    -fx-border-width: 20;
    -fx-font-size: 50;
    -fx-font-family: Menlo;
}

#pic1 {
    -fx-alignment: CENTER;
}

#pane2 {
    -fx-border-width: 20;
}

#pane3 {
    -fx-border-width: 20;
}

#restart {
    -fx-font-size: 20;
    -fx-border-color: GREEN;
}

